@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-image: url('../images/we.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

nav {
  width: 240px;
  float: left;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Toggle label */
label {
  display: inline-block;
  width: 60px;
  padding: 18px 0;
  background-color: rgba(100, 100, 100, 0.3);
  font-size: 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}

li {
  list-style-type: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #ddd;
  background-color: #f4f5f6;
  background-size: 200% 100%;
  background-position: 90% 0px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a {
  display: block;
  padding: 25px 0;
  color: #454545;
  text-align: center;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #fff;
}

/* Gradient backgrounds for each list item */
li:nth-child(1) {
  border-top: none;
  background-image: linear-gradient(to right, #78cdce 0%, #78cdce 50%, #f4f5f6 0%);
}

li:nth-child(2) {
  background-image: linear-gradient(to right, #f16767 0%, #f16767 50%, #f4f5f6 0%);
}

li:nth-child(3) {
  background-image: linear-gradient(to right, #f5ee32 0%, #f5ee32 50%, #f4f5f6 0%);
}

li:nth-child(4) {
  background-image: linear-gradient(to right, #97cc69 0%, #97cc69 50%, #f4f5f6 0%);
}

li:nth-child(5) {
  background-image: linear-gradient(to right, #507abd 0%, #507abd 50%, #f4f5f6 0%);
}

li:nth-child(6) {
  background-image: linear-gradient(to right, #6b408e 0%, #6b408e 50%, #f4f5f6 0%);
}

li:nth-child(7) {
  background-image: linear-gradient(to right, #78cdce 0%, #78cdce 50%, #f4f5f6 0%);
  border-bottom: none;
}

li:hover {
  background-position: 0% 0%;
  transition: 0.3s cubic-bezier(0.175, 0.285, 0.32, 1.0);
}

/* Toggle functionality */
#toggle:checked ~ nav {
  margin-left: -240px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
